<div class="container">
  <div class="container-item">
    <div>
      <img src="assets/home.png" height="30px" />
    </div>
    <div>
      <h3>Basic Details</h3>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Full Name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Branch Name</mat-label>
        <input matInput placeholder="Branch Name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>School Type</mat-label>
        <input matInput placeholder="School Type" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Class Range</mat-label>
        <input matInput placeholder="Class Range" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Curriculum</mat-label>
        <input matInput placeholder="Curriculum" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Affliation</mat-label>
        <input matInput placeholder="Affliation" />
      </mat-form-field>
    </div>
  </div>
  <div class="container-item">
    <div>
      <img src="assets/address.png" height="30px" />
    </div>

    <h3>Address</h3>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>No</mat-label>
        <input matInput placeholder="No" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Street Name</mat-label>
        <input matInput placeholder="Street Name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Country" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Country" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Pincode</mat-label>
        <input matInput name="pincode" />
      </mat-form-field>
    </div>
  </div>

  <div class="container-item">
    <div>
      <img src="assets/address.png" height="30px" />
    </div>
    <div>
      <h3>Contact Detalis</h3>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="No" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input matInput placeholder="Contact Number" />
      </mat-form-field>
    </div>

    <div style="height: 230px;">
      <div style="text-align: start; margin-left: 35px;">
        Upload image
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="container-bottom">
  <div class="container-item-bottom">
    Attach Documents
  </div>
</div> -->
